.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: cadetblue;
  height: 70px;
  min-width: 100vw;
}

.App-header-user{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: white;
  height: 40px;
  min-width: 100vw;
}


.App-header-left, .App-header-right {
  /*display: flex;*/
  align-items: center;
}

.TitleStyle{
  /*font-size:32px;*/
  position: fixed;
  align-items: center;
  font: 28px 'AmstelvarAlpha', sans-serif;
  font-style: oblique 23deg;
  margin-left:300px;

}

.titleMenu{
  /*position: fixed;*/
  margin-bottom: 600px;
}

.LogOutButton {
  padding: 5px 10px;
  background-color:white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 40px;
}

.App-header-left p {
  margin: 0;
}




.admin-sidemenu {
  background-color:white;
  width: 195px;
  height: 655px;
  /*min-width: 30vw;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-top: 20px;
  margin-top: 60px;
}

.App-footer {
  background-color: cadetblue;
  padding: 20px;
  width: 100%;
  text-align: center;
  height: 3rem;
  box-sizing: border-box;
  margin-top: auto;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.request-list-container {
  padding: 20px;
  margin: 70px auto;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 195px;
  margin-right: 100vw;
  width: 1250px;
  font-size: 16px;
  color:black;
  overflow: auto;
}

.sidebar-button {
  display: block;
  background-color: cadetblue;
  margin-bottom: 130px;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 0px;
  width: 300px;
  height: 50px;

}

.App-header-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  height: 25px; /* sau mărimea dorită */
  margin: 0 10px;
  cursor: pointer;
  /* Alte stiluri dacă este necesar */
}

.sidebar-button:hover {
  background-color: #555;
}

.App-header-content{
  margin-right:1200px;
  font-size:16px;
}


.request-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.request-list-header h1 {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 0;
  color: #333;
}

.search-bar {
  display: flex;
  gap: 10px;
}

.search-bar input {
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #ced4da;
  font-size: 16px;
}

.request-list-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 0;
}

.request-list-table th,
.request-list-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 2px solid #f7f7f7;
}

.request-list-table th {
  background-color: transparent;
  color: #888;
  font-size: 16px;
  font-weight: 500;
}

.request-list-table tbody tr {
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.request-list-table tbody tr:hover {
  background-color: #f7f7f7;
}

.actions-cell {
  display: flex;
  justify-content: flex-end;
}

.button-approve,
.button-deny {
  padding: 5px 15px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 10px;
}

.button-approve {
  background-color: #28a745;
}

.button-deny {
  background-color: #dc3545;
}

.modal-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: auto;
}

.modal-container {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 500px;
}

.modal-body input, .modal-body textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.button-cancel {
  background: transparent;
  border: 1px solid #ccc;
  color: #333;
}

.deny-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

.deny-modal-footer button {
  margin-left: 10px;
}

.modal-button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-cancel {
  background-color: #6c757d;
}

.button-cancel:hover {
  background-color: #5a6268;
}

.button-submit {
  background-color: #007bff;
}

.button-submit:hover {
  background-color: #0069d9;
}

.Navbar {
  background-color: #343a40;
}

.logout-button {
  width: 100px;
  height: 35px;
  margin-left: 20px;
  margin-top: 5px;
  background-color: white;
  border: none;
}


.NavbarBrand {
  color: white;
  text-decoration: none;
}

.NavbarBrand:hover {
  color: #ddd;
}

/*.LogOutButton {*/
/*  padding: 5px 10px;*/
/*  background-color: white;*/
/*  color: black;*/
/*  border: none;*/
/*  border-radius: 4px;*/
/*  cursor: pointer;*/
/*}*/









